<div style="text-align: center; padding: 20px; margin: 20px;">
  <div style="float: left; width: 200px; margin-left: 30px;" class="form-group row">
    <label class="form-group row" for="inputGroupSelect01">Operación:</label>
  </div>
  <select (change)="cambiar_operacion(operacion.value)" style="float: left; width: 200px; margin-left: 30px;"   class="custom-select" id="inputGroupSelect01"  #operacion>
    <option value="Minimizar">Minimizar</option>
    <option value="Maximizar">Maximizar</option>
  </select>
  
  <div style="width: 200px; margin-left: 30px;">
    <div class="form-group row">
      <label class="form-group row" for="inputGroupSelect01">Cantidad de Variables:</label>
      <input type="number" class="form-control" placeholder="Cantidad Variables" min="1" required #cantidad_variables>
    </div>
  </div>
  
  <div class="form-group row">
      <div style="width: 430px; margin-left: 30px;">
          <button (click)="crear_variables(cantidad_variables.value)" type="button" class="btn btn-outline-info noMargin col">Agregar</button>
      </div>    
  </div>

  <div *ngFor="let boton of variables_botones; let indice = index">
      <div style="float: left; width: 70px; margin-left: 30px;">
          <input *ngIf="boton.columna == indice+1" type="number" class="form-control" placeholder="x{{indice+1}}" id="x{{indice+1}}">
      </div>
  </div>
</div>

<div style="text-align: center; padding: 20px; margin: 20px;">
  <div style="width: 200px; margin-left: 30px;">
    <div class="form-group row">
      <label class="form-group row" for="inputGroupSelect01">Cantidad de Restricciones:</label>
      <input type="number" class="form-control" placeholder="Cantidad Restricciones" min="1" required #cantidad_restricciones>
    </div>
  </div>
  <div class="form-group row">
      <div style="width: 430px; margin-left: 30px;">
          <button (click)="crear_restricciones(cantidad_restricciones.value)" type="button" class="btn btn-outline-info noMargin col">Agregar</button>
      </div>    
  </div>
  <table *ngIf="estado" class="table table-striped animated fadeIn fast">
    <thead>
    </thead>
    <tbody>
      <tr *ngFor="let boton_restricciones of restricciones_filas" class=" animated fadeIn fast">
        <td>
          <div *ngFor="let boton_variables of variables_botones; let indice = index">
            <div style="float: left; width: 70px; margin-left: 30px;">
              <input *ngIf="boton_variables.columna == indice+1" type="number" class="form-control" placeholder="x{{indice+1}}" [id]="boton_restricciones.fila +'-'+ boton_variables.columna">
            </div>
          </div> 
          <select style="float: left; width: 70px; margin-left: 30px;" class="custom-select">
            <option value="mayor"> <= </option>
            <option value="menor"> >= </option>
          </select>
          <div style="float: left; width: 70px; margin-left: 30px;">
            <input type="number" class="form-control" placeholder="R" [id]="boton_restricciones.fila +'-r'">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="text-align: center; padding: 20px; margin: 20px;">
  <div class="form-group row">
    <div style="width: 430px; margin-left: 30px;">
        <button (click)="empezar()" type="button" class="btn btn-outline-info noMargin col">Empezar</button>
    </div>    
  </div>
  <table *ngIf="iniciar" class="table table-striped animated fadeIn fast">
    <thead>
      <tr>
        <td>
          <div *ngFor="let titulos of variables_columnas; let indice = index">
            <div style="float: left; width: 70px; margin-left: 30px;">
              <div *ngIf="titulos.columna == indice+1">{{titulos.etiqueta}}</div>
            </div>
          </div> 
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filas of arreglo_coeficientes; let indice = index" class=" animated fadeIn fast">
        <td>
          <div *ngFor="let columnas of arreglo_coeficientes[indice]; let indice_col = index">
            <div style="float: left; width: 70px; margin-left: 30px;">{{columnas}}</div>
          </div> 
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: center; padding: 20px; margin: 20px;">
  <div class="form-group row">
    <div style="width: 430px; margin-left: 30px;">
        <button (click)="iteracion()" type="button" class="btn btn-outline-info noMargin col">Iterar</button>
    </div>    
  </div>

</div>
