footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.marginTop{
  margin-top: 20px;
}
.justify{
  text-align: justify;
}

.twoMargins{
  margin-left: 30px;
  margin-right: 30px;
}
body{

  background: red;
}
